<div class="header-container">
  <h1>iRO Server Population Tracker</h1>
  <h3>last 2 hours of activity, updated every 10 minutes</h3>
</div>

<%= content_tag :div, "", :id => "population-information-chart", :data => {:records => @population_chart_data} %>

<div class="information-container">
  <div class="classic-population-information-list">
    <h2>Classic Server</h2>
    <ul class="data-key-columns">
      <li><b>Recorded</b></li>
      <li><b>Online</b></li>
      <li><b>Shops</b></li>
    </ul>
    <% @classic_records.each do |r| %>
      <ul class="records">
        <li><%= r.created_at.localtime %></li>
        <li><%= r.online %></li>
        <li><%= r.shops %></li>
      </ul>
    <% end %>
  </div>

  <div class="renewal-population-information-list">
    <h2>Renewal Server</h2>
    <ul class="data-key-columns">
      <li><b>Recorded</b></li>
      <li><b>Online</b></li>
      <li><b>Shops</b></li>
    </ul>
    <% @renewal_records.each do |r| %>
      <ul class="records">
        <li><%= r.created_at.localtime %></li>
        <li><%= r.online %></li>
        <li><%= r.shops %></li>
      </ul>
    <% end %>
  </div>
</div>
