<h1>iRO Server Population Tracker</h1>

<div class="classic-population-information-list">
  <h2>Classic</h2>
  <ul class="data-key-columns">
    <li><b>Recorded</b></li>
    <li><b>Online</b></li>
    <li><b>Shops</b></li>
  </ul>
  <% @classic_records.each do |r| %>
    <ul>
      <li><%= r.created_at %></li>
      <li><%= r.online %></li>
      <li><%= r.shops %></li>
    </ul>
  <% end %>
</div>

<div class="renewal-population-information-list">
  <h2>Renewal</h2>
  <ul class="data-key-columns">
    <li><b>Recorded</b></li>
    <li><b>Online</b></li>
    <li><b>Shops</b></li>
  </ul>
  <% @renewal_records.each do |r| %>
    <ul>
      <li><%= r.created_at %></li>
      <li><%= r.online %></li>
      <li><%= r.shops %></li>
    </ul>
  <% end %>
</div>